/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 40vw;
    background-color: var(--background-color-bright);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 20px;
    text-align: center;
}

h2 {
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: var(--secondary-color);
}

input {
    width: 100%;
    background-color: var(--background-color);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-color);
}

.showpw {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    text-align: center;
}