.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}



.car-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    z-index: 1;
}



#zoom-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.zoom {
    width: 100vw;
}
