body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    overflow: hidden;
}


/* ab hier alles rauskopieren body stehen lassen!!!! */
